.container-full {
  height: 110vh;
  background-image: url('../../assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FAFAFF;
}

.css-1wc848c-MuiFormHelperText-root{
  color: red;
}